/* ********头部开始********** */
header .logo{
	width:9vw;
	position:absolute;
	left:25px;
	top:20px;
	z-index:10;
}
header .logo a,header .logo a img{
	display:block;
	width:100%;
}
header nav{
	position:absolute;
	width:65%;
	height:45px;
	right:250px;
	top:20px;
	font-size:16px;
	text-shadow:0 0 5px rgb(0 0 0 / 10%);
	z-index:10;
}
header nav li{
	width:12.5%;
}
header nav li a{
	color:rgba(255,255,255,.8);
	text-shadow:0 0 5px rgb(0 0 0 / 10%);
	font-weight:700;
	display:block;
	width:100%;
	line-height:45px;
	text-align:center;
	position:relative;
	transition:all .5s;
	z-index:10;
}
header nav li a::before,header nav li a::after{
	content:'';
	width:12px;
	height: 12px;
	position:absolute;
	left:10px;
	top:0;
	background:url(../img/sj_icon.png) no-repeat 100% 100%;
	transform:rotate(180deg);
	opacity:0;
}
header nav li a::after{
	right:10px;
	bottom:0;
	left:auto;
	top:auto;
	transform:rotate(0);
}
header nav li a:hover{
	color:#d59961;
}
header .tel{
	width:210px;
	height:40px;
	position:absolute;
	right:25px;
	background-color:#fff;
	border-radius:40px;
	display:block;
	top:20px;
	z-index:10;
}
header nav li.active a{
	color:#d59961;
}
header nav li.active a::before,header nav li.active a::after{
	opacity:1;
}
header .tel .icon{
	width:26px;
	height:26px;
	background-color:#230f95;
	margin-top:6px;
	margin-left:15px;
	border-radius:50%;
	margin-right:10px;
	position:relative;
	animation:loop 2s ease infinite;
}
header .tel .icon::after{
	content:'';
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	background:url(../img/tel_icons.png) no-repeat;
	background-size:cover;
}
@keyframes loop{
	from{
		transform:rotate(0);
	}
	to{
		transform:rotate(360deg);
	}
}
header .tel p{
	line-height:40px;
	color:#230f95;
	font-size:28px;
	font-weight:700;
	font-family:akrobatblack;
}
header .menu_icon{
	width:50px;
	height:50px;
	position:fixed;
	right:20px;
	top:20px;
	z-index:100;
	padding-top:14px;
	background-color:#c98f64;
	border-radius:50%;
	box-sizing:border-box;
	display:none;
}
header .menu_icon::before,header .menu_icon:after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:50px;
	height:50px;
	border:2px solid #c98f64;
	border-radius:100px;
	opacity:1;
	box-shadow:0 0 12px #c98f64, 0 0 20px #c98f64 inset;
	box-sizing:border-box;
	animation:warn 2s ease-out infinite;
}
header .menu_icon:after{
	animation-delay:0.5s;
}
@keyframes warn{
	0%{
		transform:scale(0);
		transform:scale(0);
		opacity:1;
	}
	100%{
		transform:scale(1.5);
		transform:scale(1.5);
		opacity:0;
	}
}
/* ********头部结束********** */
main .sub_banner{
	width:100%;
	position:relative;
	background-color:#000;
	overflow:hidden;
}
main .sub_banner img{
	display:block;
	width:100%;
}
main .sub_banner>img{
	animation-duration:2s;
}
main .sub_banner .posimg{
	width:250px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
/* *********在线留言开始************* */
.show{
	width:369px;
	height:auto;
	position:fixed;
	right:0;
	bottom:0;
	background-color:#18198f;
	padding:20px;
	border-radius:10px;
	color:#c98f64;
	box-shadow:0 0 10px rgb(0 0 0 / 10%);
	transition:all .6s cubic-bezier(.23,1,.32,1);
	z-index:10;
	box-sizing:border-box;
}
.show.active{
	bottom:-377px;
}
.show .tit{
	font-size:18px;
	font-weight:400;
	line-height:30px;
	margin-bottom:5px;
}
.show .close_btn{
	width:30px;
	height:30px;
	border:1px solid rgba(255,255,255,.5);
	border-radius:50%;
	position:absolute;
	right:20px;
	top:10px;
	cursor:pointer;
}
.show .close_btn::after{
	content:'';
	display:block;
	width:10px;
	height:10px;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	background:url(../img/close_icon.png) no-repeat;
	background-size:auto 10px;
}
.show .close_btn.active::after{
	background-position:-10px 0;
}
.show .show_con{
	background-color:#fff;
	padding:15px;
	width:100%;
	height:auto;
	color:#3e3e3e;
	font-size:14px;
	box-sizing:border-box;
}
.show .show_con .tips{
	width:100%;
	height:20px;
	line-height:20px;
	padding-left:25px;
	position:relative;
	margin-bottom:15px;
}
.show .show_con .tips::after{
	content: '';
	display:block;
	width:16px;
	height:16px;
	position:absolute;
	left:0;
	top:0;
	border:2px solid #fda437;
	background:#fda437 url(../img/gth.png) 100% 100%/cover;
	border-radius:50%;
}
.show .show_con .infor{
	width:100%;
	height:auto;
	margin-bottom:10px;
}
.show .show_con .infor label{
	display:inline-block;
	width:80px;
	height:auto;
	line-height:35px;
	text-indent:10px;
	position:relative;
}
.show .show_con .infor:nth-of-type(2) label::after,.show .show_con .infor:nth-of-type(3) label::after{
	content:'*';
	width:5px;
	height:20px;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-10px;
	line-height:20px;
	text-align:left;
	color:#ff4b3f;
	text-indent:0;
}
.show .show_con .infor input,.show .show_con .infor textarea{
	width:calc(100% - 80px);
	height:35px;
	border:1px solid rgba(0,0,0,.1);
	text-indent:10px;
}
.show .show_con .msg label{
	float:left;
}
.show .show_con .msg textarea{
	text-indent:0;
	padding:10px;
	height:70px;
	font-family:"微软雅黑";
	outline:none;
}
.show .show_con .sub{
	color:#d69961;
	display:block;
	width:125px;
	height:40px;
	line-height:40px;
	background:url(../img/more_btn2.png) no-repeat 100% 100%/cover;
	margin:15px auto 25px;
	text-align:center;
	cursor:pointer;
}
.detail{
	width:202px;
	height:57px;
	line-height:57px;
	border:1px solid #efb336;
	box-sizing:border-box;
	border-radius:5px;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#efb336;
	text-align:center;
	background:#fff url(../img/wra.png) no-repeat 23px center;
	display:none;
	font-size:14px;
	padding-left:35px;
}
.detail.active{
	color:#21c786;
	border-color:#21c786;
	background:#fff url(../img/success_03.png) no-repeat 23px center;
	padding-left:0;
}
/* *********在线留言结束************* */
/* *********回到顶部开始************* */
.backtop{
	position:fixed;
	z-index:2;
	right:50px;
	bottom:-100px;
	width:50px;
	height:50px;
	cursor:pointer;
	background:url(../img/back_top.png);
	transition:all 0.5s;
}
.backtop.active{
	bottom:50px;
}
.backtop:hover{
	background-position:0 -50px;
}
/* *********回到顶部结束************* */
/* *********底部开始************* */
footer{
	width:100%;
	height:auto;
	padding:35px 0;
	background-color:#000;
	position:relative;
}
footer .footer{
	width:80%;
	margin:auto;
}
footer .footer .left{
	width:calc(100% - 200px);
}
footer .footer .left .left_t{
	font-size:0;
	padding-left:100px;
	line-height:35px;
	padding-bottom:25px;
	border-bottom:1px solid rgba(255,255,255,.1);
	position:relative;
}
footer .footer .left .left_t::after{
	content:'';
	position:absolute;
	width:80px;
	height:20px;
	left:0;
	top:10px;
	background:url(../img/logos.png) no-repeat 100% 100%;
}
footer .footer .left .left_t a{
	font-size:14px;
	padding:0 15px;
	display:inline-block;
	color:rgba(255,255,255,.5);
}
footer .footer .left .left_b{
	line-height:2;
	color:rgba(255,255,255,.3);
	padding-top:25px;
	font-size:14px;
}
footer .footer .left .left_b span{
	margin-right:15px;
	padding-right:15px;
	position:relative;
}
footer .footer .left .left_b span:after{
	content:'';
	position:absolute;
	width:1px;
	height:80%;
	right:0;
	top:10%;
	background-color:rgba(255,255,255,.1);
}
footer .footer .left .left_b p span:last-of-type::after{
	width:0;
	height:0;
}
footer .footer .left .left_b p a{
	color:inherit;
}
footer .footer .right{
	width:100px;
	font-size:12px;
	text-align:center;
	color:rgba(255,255,255,.5);
}
footer .footer .right img{
	display:block;
	width:100%;
	margin-bottom:5px;
}
/* *********底部结束************* */

/* *********媒体查询开始********** */
@media screen and (max-width:1300px){
	footer .footer{
		width:94%;
	}
}
@media screen and (max-width:1024px) {
	header .logo{
		position:fixed;
		width:12vw;
		top:10px;
		left:20px;
		z-index:100;
	}
	header .tel{
		position:fixed;
		right:50%;
		margin-right:-105px;
		bottom:50px;
		top:auto;
	}
	header .menu_icon{
		display: block;
		cursor:pointer;
	}
	header .menu_icon span{
		display:block;
		height:2px;
		width:30px;
		background-color:#fff;
		margin-bottom:7px;
		transition:all 0.5s;
		margin-left:10px;
		position:relative;
		z-index:5;
	}
	header .menu_icon span:nth-of-type(1){
		width:16px;
	}
	header .menu_icon span:nth-of-type(3){
		width:16px;
		float:right;
		margin-right:10px;
	}
	header .menu_icon.active span:nth-of-type(1){
		width:15px;
		transform:translate(2px,4px) rotate(45deg);
	}
	header .menu_icon.active span:nth-of-type(2){
		transform:translate(0,0) rotate(-45deg);
	}
	header .menu_icon.active span:nth-of-type(3){
		width:15px;
		transform:translate(-3px,-3.5px) rotate(45deg);
	}
	header nav{
		opacity:0;
		visibility:hidden;
		width:100%;
		height:100vh;
		right:0;
		top:0;
		position:fixed;
		transition:all .6s cubic-bezier(.23,1,.32,1); 
	}
	header nav::before{
		content:'';
		display:block;
		width:100%;
		height:100vh;
		position:absolute;
		left:0;
		top:0;
		background-color:rgba(0,0,0,.5);
		opacity:0;
		visibility:hidden;
		transition:all .6s cubic-bezier(.23,1,.32,1);
	}
	header nav::after{
		width:100vh;
		height:100vh;
		position:absolute;
		content:'';
		background-color:#18198f;
		transition:all 1.5s cubic-bezier(.23,1,.32,1);
		border-radius:50%;
		box-shadow:0 0 15px rgb(0 0 0 / 50%);
		left:-50vh;
		top:-50vh;
	}
	header nav.active,header nav.active::before,header nav.active::after{
		opacity:1;
		visibility:visible;
	}
	header nav.active::after{
		transform:scale(2);
	}
	header nav li{
		width:50%;
		float:none !important;
		transition:all .3s;
	}
	header nav li a{
		margin-bottom:10px;
	}
	header nav li a{
		transform:translateY(35px);
	}
	header nav.active li a{
		transform:translateY(0);
	}
	header nav li:nth-of-type(1) a{
		transition-delay:.3s;
	}
	header nav li:nth-of-type(2) a{
		transition-delay:.4s;
	}
	header nav li:nth-of-type(3) a{
		transition-delay:.5s;
	}
	header nav li:nth-of-type(4) a{
		transition-delay:.6s;
	}
	header nav li:nth-of-type(5) a{
		transition-delay:.7s;
	}
	header nav li:nth-of-type(6) a{
		transition-delay:.8s;
	}
	header nav li:nth-of-type(7) a{
		transition-delay:.9s;
	}
	header nav li:nth-of-type(8) a{
		transition-delay:1s;
	}
	header nav li a::before{
		left:50%;
		margin-left:-100px;
	}
	header nav li a::after{
		right:50%;
		margin-right:-100px;
	}
	header nav li:first-of-type{
		margin-top:150px;
	}
	main .sub_banner .posimg{
		width:15vw;
	}
}
@media screen and (max-width:767px) {
	header .tel{
		margin-right:-120px;
		bottom:50px;
		top:10px;
		transform:scale(.8);
	}
	header .menu_icon{
		top:10px;
	}
	header nav li{
		margin-left:25%;
		margin-bottom:0;
	}
	header nav.active::after{
		transform:scale(1.8);
	}
	.show .tit{
		font-size:14px;
	}
	.show.active .close_btn{
		right:auto;
		left:70px;
		transform:scale(.8);
	}
	.show.active{
		right:-200px;
	}
	footer .footer>div{
		float:none;
	}
	footer .footer .left{
		width:100%;
		margin-bottom:25px;
	}
	footer .footer .left .left_b{
		padding-top:0;
		width:100%;
	}
	footer .footer .right{
		margin:0 auto;
	}
	.backtop{
		right:4%;
		width:40px;
		height:40px;
		line-height:40px;
	}
	.backtop:hover{
		background-position:0 -40px;
	}
	main .sub_banner .posimg{
		width:20vw;
	}
	header .logo{
		width:20vw;
	}
}
@media screen and (max-width:800px){
	.show{
		width:300px;
		padding:10px;
	}
	.show.active{
		bottom:-370px;
	}
	footer .footer .left .left_t{
		display:none;
	}
	footer .footer .left .left_b p:first-of-type{
		display:none;
	}
	.backtop{
		background-size:auto 80px;
	}
}
/* *********媒体查询结束********** */